li{
  color: aliceblue;
  font-size: 15px;
}

p{
  box-shadow: 2px 2px 1px black;
  color: aliceblue;
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
}

form{
  font: white;
}

textarea{
  margin-top: 10px;
  padding-top: 5%;
  border: 3px solid black;
  box-shadow: 2px 2px 1px black;
}

input{
  margin-left: 1%;
  padding-right: 15%;
  border: 3px solid black;
}

button:hover{
  color:#ee650a;
}

button{
  border: 1px solid black;
  margin-bottom: 1%;
}

h1{
  text-shadow: 2px 2px 1px black;
  color: rgb(251,183,63); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
  text-shadow: 2px 2px 2px black;
  color: rgba(0,138,255,1);
}

h3{
  display: flex;
  text-shadow: 2px 2px 2px black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: end;
  margin-left: 50%;
  color: aliceblue;
}

body{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,137,10,1) 32%, rgba(0,138,255,1) 94%);
}

header{
  background: linear-gradient(90deg, rgba(2,0,36,0.00043767507002800965) 19%, rgba(221,137,10,0) 22%, rgba(0,95,255,0) 94%);
  color: #a74005;
  text-align: center;
  text-shadow: 2px 2px 0px black;
  padding: 20px;
  font-size: 60px;
  margin-left: 20%;
  border: 3px solid black;
  box-shadow: 2px 2px 1px black;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li{
  display: inline-block;
  margin-right: 20px;
  border: 3px solid black;
  box-shadow: 2px 2px 0px 2px black;
}

nav a{
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  text-decoration:none;
  padding: 5px;
}

nav a:hover{
  color: #e76e0a;

}

.container{
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.row{
  line-height: 1cm;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.column{
  flex: 1;
  padding: 10px;
}

@media (max-width: 600px){
  .column {
    flex: 100%;
  }
}

@media(max-width:767px){
  header {
    background-color: rgb(241, 238, 238);
  }

  nav {
    font-size: 24px;
  }
}

@media(min-width:1200px){
  header {
    width: 1200px
  }
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background: linear-gradient(90deg, rgba(2,0,36,0.00043767507002800965) 19%, rgba(221,137,10,0) 22%, rgba(0,95,255,0) 94%);
}


.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.brand{
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


li>a{
  padding: 8px 24px;
}


li{
  text-shadow: 2px 2px 1px black;
  list-style-type: none;
  font-size: 20px;
}


a{
  text-shadow: 2px 2px 2px black;
  color: white;
  text-decoration: none;
}


.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: none;
}
.img-container {
display: flex;
flex-wrap: wrap;
justify-content: center;

}
img{
  width: 300px;
  height: 200px;
  padding: 10px;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }


  .nav-links {
    display: none;
  }


  .button-menu-toggle {
    display: block;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
  }

  .nav-links.nav-links-responsive {
    position:absolute;
    display:flex;
    background-color:  rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,121,9,1) 35%, rgba(0,212,255,1) 100%);
    width: 50%;
    height: 60%;
    top: 90px;
    left: 0;
    flex-direction:column;
    padding-top: 200px;
    align-items:center;
    gap: 70px;
    font-size: 30px;
    border:1px solid #fff;


  }
}